@(a: Alert)(implicit lang: Lang)
@import java.util.Date

@main("Alert : " + a.subject.get) {
	
	<article style="font-family:  verdana, sans-serif; font-size: 80%">
	
	<div style="background: #f5f5f5; padding: 10px;">
	<table>
	<tr>
		<td style="width: 200px"><b>Countries Affected<b/></td>
		<td>@a.countries.get.toString().replaceAll(";", " | ")</td>
	</tr>
	<tr>
		<td style="width: 200px"><b>Received Date<b/></td>
		<td>@a.daterecieved.get</td>
	</tr>
	<tr>
		<td style="width: 200px"><b>Source Agency<b/></td>
		<td>@a.source_name.get</td>
	</tr>
	<tr>
		<td style="width: 200px"><b>Source Type<b/></td>
		<td>@{
			a.alerttype.get match {
				case 0 => "Email (" + a.source_email.get + ")"
				case 1 => "Web (" + a.source_url.get + ")"	
			}
			}
			</td>
	</tr>
	</table>
	</div>
	<br/>
	
	@{
		if (a.content.get.contains("<p>")){
			Html(a.content.get)
		} else {
			Html(a.content.get.replaceAll("\n", "<br/>"))
		}
	}
	
	</article>
	
	
  
}
