@(query: String, total: Int, sources: String, documents: List[Tuple3[String, String, String]], contacts: List[Tuple3[String, String, String]], alerts: List[Tuple3[String, String, String]], calendar: List[Tuple3[String, String, String]], media: List[Tuple3[String, String, String]], files: List[Tuple3[String, String, String]], wiki: List[Tuple3[String, String, String]])(implicit lang: Lang)

@main("Search", search = true) {
<div style="font-family:  verdana, sans-serif; font-size: 90%; margin-top: -50px">
   <h3>Searched for <u>@query</u> and got @total key results</h3>
  
    <h4>Documents</h4>
    @documents.map {d =>
   		<a href="@routes.Application.showDocument(Integer.parseInt(d._1))">@d._2</a>
   		<br/>
   		<i>@d._3</i><br/>
   		<br/>
   	}
   	<hr/>
   	
   	<h4>Contacts</h4>
   	@contacts.map {c =>
   		<a href="@routes.Application.showContact(Integer.parseInt(c._1))">@c._2</a>
   		<br/>
   		<i>@c._3</i><br/>
   	<br/>
   	}
   	<hr/>
   	
   	<h4>Alerts</h4>
   	@alerts.map {a =>
   		<a href="@routes.Application.showAlert(Integer.parseInt(a._1))">@a._2</a>
   		<br/>
   		<i>@a._3</i><br/>
   	<br/>
   	}
   	<hr/>
   	
</div>
}
